/* Google Font Import - Poppins */
/* ===== Sidebar ===== */
/* ===== Reusable code - Here ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;
    --highlight-color: #4173a4;
    --highlight-hover-color: #326e91;
    --twobutton:#373B44;
    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body {
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

::selection {
    background-color: var(--primary-color);
    color: #fff;
}

body.dark {
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
    --highlight-color: #4173a4;
    --highlight-hover-color: #326e91;
    --twobutton: #bac4da;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
}

.sidebar.close {
    width: 88px;
}

.sidebar li {
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon {
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text {
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}

.sidebar.close .text {
    opacity: 0;
}

.sidebar header {
    position: relative;
}

.sidebar header .image-text {
    display: flex;
    align-items: center;
}

.sidebar header .logo-text {
    display: flex;
    flex-direction: column;
}

header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession {
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img {
    width: 40px;
    border-radius: 6px;
}

.sidebar header .toggle {
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .sidebar header .toggle {
    color: var(--text-color);
}

.sidebar.close .toggle {
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu {
    margin-top: 40px;
}

.sidebar li a {
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover {
    background-color: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--sidebar-color);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
    color: var(--text-color);
}

.sidebar .menu-bar {
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}

.menu-bar::-webkit-scrollbar {
    display: none;
}

.sidebar .menu-bar .mode {
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .mode .sun-moon {
    height: 50px;
    width: 60px;
}

.mode .sun-moon i {
    position: absolute;
}

.mode .sun-moon i.sun {
    opacity: 0;
}

body.dark .mode .sun-moon i.sun {
    opacity: 1;
}

body.dark .mode .sun-moon i.moon {
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch {
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}

.toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before {
    left: 20px;
}

.home {
    position: absolute;
    top: 0;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}

.home .text {
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

.sidebar.close~.home {
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}

body.dark .home .text {
    color: var(--text-color);
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++ content*/
/*nav active bar*/
.menu-bar a {
    color: white;
    text-decoration: none;
    transition: color var(--tran-03);
}

.menu-bar a:hover {
    color: var(--primary-color);
}

.menu-bar .nav-link.active a {
    color: white;
    font-weight: bold;
    background-color: var(--primary-color);
}

.menu-bar .nav-link.active a i,
.menu-bar .nav-link.active a span {
    color: white;
    font-weight: bold;
    background-color: var(--primary-color);
    font-size: 1rem;
}

/*Buttons CSS*/
/* Adapted Button Styles */
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 39px;
    /* Adjust spacing as needed */
}

/* Button Styles */
.button-container button {
    --b: 3px;
    /* Border thickness */
    --s: .18em;
    /* Size of the corner */
    --c: #BD5532;

    padding: 0.7em 0.9em;
    /* Increased padding */
    color: var(--c);
    --_p: var(--s);
    background:
        conic-gradient(from 90deg at var(--b) var(--b), #0000 90deg, var(--c) 0) var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .2em;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 1.7rem;
    /* Matches page font size */
    cursor: pointer;
    border: none;
    margin: .1em;
    width: 400px;
    /* Matches page width */
    height: auto;
    text-align: center;
    line-height: 1.2;
    word-wrap: break-word;
}

/* Specific Button Styles */
.button-container button.btn-1,
.button-container button.btn-3 {
    --c: var(--twobutton);/* Border thickness *//* Border thickness *//* Border thickness *//* Border thickness *//* Border thickness */
    --b: 3px;
    /* Border thickness */
    --s: .19em;
    /* Corner size */
}

.button-container button:hover,
.button-container button:focus-visible {
    --_p: 0px;
    outline-color: var(--c);
    outline-offset: .07em;
}

.button-container button:active {
    background: var(--c);
    color: #fff;
}

/* Responsive Design */
@media (max-width: 600px) {
    .button-container button {
        font-size: 1rem;
        /* Adjust font size for smaller screens */
        width: 100%;
        /* Full width on small screens */
        padding: 0.75em;
        /* Adjust padding */
    }
}
/*the popup css*/
.popup {
    padding: 10px;
    border-radius: 4px;
    margin: 20px 0;
    text-align: center;
}

.popup.success {
    background-color: green;
    color: white;
    font-size: large;
}

.popup.error {
    background-color: #f44336;
    color: white;
    font-size: large;
}/* Global Styles */
/* Global Styles */

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Search Bar Styles */

.search-container {
    width: 100%;
    max-width: 300px;
    margin: 60px 0 16px 60px;
}

#search-bar {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

/* Staff Buttons Styles */

.staff-buttons-container {
    margin: 4px 55px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    text-align: center;
    align-items: center;
    border: #326e91 solid 1.5px;
    border-radius: 12px;
    padding: 10px;
    max-height: 500px;
    overflow-y: auto;
}

.btn-staff {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    flex: 1 1 calc(33.333% - 20px);
    box-sizing: border-box;
}

.btn-staff:hover {
    background-color: #0056b3;
    cursor: pointer;
}

/* Responsive Design */

@media (max-width: 768px) {
    .btn-staff {
        flex: 1 1 calc(50% - 20px);
    }

    .search-container {
        margin-left: 20px;
    }
}

@media (max-width: 480px) {
    .btn-staff {
        flex: 1 1 calc(100% - 20px);
    }

    .search-container {
        margin-left: 10px;
    }
}