/* Google Font Import - Poppins */
/* ===== Sidebar ===== */
/* ===== Reusable code - Here ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #72a7c0;
    --text-color: #707070;
    --highlight-color: #4173a4;
    --highlight-hover-color: #326e91;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body {
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

::selection {
    background-color: var(--primary-color);
    color: #fff;
}

body.dark {
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
    --highlight-color: #4173a4;
    --highlight-hover-color: #326e91;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
}

.sidebar.close {
    width: 88px;
}

.sidebar li {
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon {
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text {
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}

.sidebar.close .text {
    opacity: 0;
}

.sidebar header {
    position: relative;
}

.sidebar header .image-text {
    display: flex;
    align-items: center;
}

.sidebar header .logo-text {
    display: flex;
    flex-direction: column;
}

header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession {
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img {
    width: 40px;
    border-radius: 6px;
}

.sidebar header .toggle {
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .sidebar header .toggle {
    color: var(--text-color);
}

.sidebar.close .toggle {
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu {
    margin-top: 40px;
}

.sidebar li a {
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover {
    background-color: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--sidebar-color);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
    color: var(--text-color);
}

.sidebar .menu-bar {
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}

.menu-bar::-webkit-scrollbar {
    display: none;
}

.sidebar .menu-bar .mode {
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .mode .sun-moon {
    height: 50px;
    width: 60px;
}

.mode .sun-moon i {
    position: absolute;
}

.mode .sun-moon i.sun {
    opacity: 0;
}

body.dark .mode .sun-moon i.sun {
    opacity: 1;
}

body.dark .mode .sun-moon i.moon {
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch {
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}

.toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before {
    left: 20px;
}

.home {
    position: absolute;
    top: 0;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}

.home .text {
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

.sidebar.close~.home {
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}

body.dark .home .text {
    color: var(--text-color);
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++ content*/
/*nav active bar*/
.menu-bar a {
    color: white;
    text-decoration: none;
    transition: color var(--tran-03);
}

.menu-bar a:hover {
    color: var(--primary-color);
}

.menu-bar .nav-link.active a {
    color: white;
    font-weight: bold;
    background-color: var(--primary-color);
}

.menu-bar .nav-link.active a i,
.menu-bar .nav-link.active a span {
    color: white;
    font-weight: bold;
    background-color: var(--primary-color);
    font-size: 1rem;
}

body.dark tbody tr,
body.dark tbody tr td,
body.dark thead th {
    color: white;
}

.page-content {
    text-align: center;
    padding: 40px;
}

h2,
p {
    color: var(--text-color);
}

.below {
    color: white !important;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

thead {
    background-color: var(--highlight-color);
    color: white;
}

thead th {
    padding: 10px;
}

tbody tr:nth-child(even) {
    background-color: var(--primary-color-light);
}

tbody tr:hover {
    background-color: var(--toggle-color);
}

td,
th {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid var(--toggle-color);
}

.common-form,
.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: var(--sidebar-color);
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 600px;
    width: 100%;
}
.register-form.show {
    display: block;
}
.hide {
    display: none;
}

.form-group {
    margin-bottom: 20px;
    width: 100%;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: var(--text-color);
    margin-top: 4px;
}

.form-group input[type="text"],
.form-group input[type="password"],
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--toggle-color);
    border-radius: 4px;
    box-sizing: border-box;
    height: 40px;
}

.form-group select {
    appearance: none;
}

.btn-delete {
    padding: 7px 18px;
    background-color: rgb(207, 22, 22);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    height: 40px;
    margin-top: 10px;
}

.btn-delete:hover {
    background-color: rgb(163, 5, 5);
}

.update-btn {
    padding: 7px 32px;
    background-color: var(--highlight-color);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    height: 40px;
    margin-top: 10px;
}

.update-btn:hover {
    background-color: var(--highlight-hover-color);
}

.submit-btn {
    width: 100%;
    padding: 10px;
    background-color: var(--highlight-color);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    height: 40px;
    margin-top: 2px;
}

.submit-btn:hover {
    background-color: var(--highlight-hover-color);
}

.register-container {
    position: fixed;
    bottom: 10px;
    right: 20px;
    z-index: 1000;
}

.register-btn {
    background-color: var(--highlight-color);
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-btn i {
    font-size: 24px;
}

.register-form {
    position: absolute;
    bottom: 25px;
    right: 0;
    background-color: var(--sidebar-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: none;
}
.register-form .form-group {
    width: 100%;
    margin-bottom: 10px;
}

.register-form .form-group label {
    margin-bottom: 2px;
    color: var(--text-color);
    margin-top: 2px;
}

.register-form .form-group input,
.register-form .form-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid var(--toggle-color);
    border-radius: 4px;
    box-sizing: border-box;
}

.register-form .submit-btn {
    width: 100%;
    padding: 10px;
    background-color: var(--highlight-color);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    height: 40px;
    margin-top: 10px;
}

.register-form .submit-btn:hover {
    background-color: var(--highlight-hover-color);
}

.popup {
    background-color: var(--highlight-color);
    color: white;
    padding: 15px;
    border-radius: 4px;
    margin: 20px 0;
    display: inline-block;
    width: 100%;
}

.popup.success {
    background-color: green;
}

.popup.error {
    background-color: rgb(207, 22, 22);
}
/* General form styles */
.common-form,
.register-form,
.user-form,
.staff-form {
    max-width: 300px;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--sidebar-color);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.common-form label,
.register-form label,
.user-form label,
.staff-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: var(--text-color);
    margin-top: 2px;
}

.common-form input[type="text"],
.common-form input[type="password"],
.common-form select,
.register-form input[type="text"],
.register-form input[type="password"],
.register-form select,
.user-form input[type="text"],
.user-form input[type="password"],
.user-form select,
.staff-form input[type="text"],
.staff-form select {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 2px;
    border: 1px solid var(--toggle-color);
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    margin-top: 2px;
}

.common-form select,
.register-form select,
.user-form select,
.staff-form select {
    appearance: none;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="6" viewBox="0 0 12 6"><path fill="%23333333" d="M6 6L0 0h12z"/></svg>') no-repeat right 10px center;
    background-size: 12px;
}

.common-form button,
.register-form button,
.user-form button,
.staff-form button {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    background-color: var(--highlight-color);
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.common-form button:hover,
.register-form button:hover,
.user-form button:hover,
.staff-form button:hover {
    background-color: var(--highlight-hover-color);
    transform: scale(1.05);
}

.common-form button:focus,
.register-form button:focus,
.user-form button:focus,
.staff-form button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1);
}
/* Style for the search bar container */
.search-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 21px;
}

/* Style for the search input field */
.search-container input[type="text"] {
    width: 250px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-right: 10px;
    transition: border-color 0.3s;
}

.search-container input[type="text"]:focus {
    border-color: #007bff;
    outline: none;
}

/* Style for the search button */
.search-container button[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color:var(--highlight-color);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-container button[type="submit"]:hover {
    background-color:var(--highlight-hover-color);
}
/* Specific styles for smaller screens */
@media (max-width: 600px) {

    .search-container {
            flex-direction: column;
            align-items: stretch;
    }
    
    .search-container input[type="text"],
    .search-container button[type="submit"] {
        width: 100%;
        margin: 5px 0;
    }
    .common-form,
    .register-form,
    .user-form,
    .staff-form {
        padding: 15px;
        max-width: 100%;
    }

    .common-form input[type="text"],
    .common-form input[type="password"],
    .common-form select,
    .register-form input[type="text"],
    .register-form input[type="password"],
    .register-form select,
    .user-form input[type="text"],
    .user-form input[type="password"],
    .user-form select,
    .staff-form input[type="text"],
    .staff-form select {
        width: 100%;
    }

    .common-form button,
    .register-form button,
    .user-form button,
    .staff-form button {
        width: 100%;
        margin-bottom: 10px;
    }
}
/*show delete pop up */
.dialog {
    display: none;
    position: fixed;
    /* Position it relative to the viewport */
    top: 50%;
    /* Center it vertically */
    left: 50%;
    /* Center it horizontally */
    transform: translate(-50%, -50%);
    /* Offset it by its own dimensions */
    background-color: var(--body-color);
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    z-index: 1000;
    /* Ensure it is on top of other elements */
    color: var(--text-color);
}

.dialog .icon {
    font-size: 3em;
    color: rgb(207, 22, 22);
    margin-bottom: 15px;
}

.dialog .message {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: var(--text-color);
}

.dialog button {
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dialog button:hover {
    opacity: 0.8;
}

.dialog .cancel {
    background-color: #ccc;
    color: #333;
}

.dialog .delete {
    background-color: rgb(207, 22, 22);
    color: white;
}

.dialog.show {
    display: block;
}