<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/conferences_style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dialog.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <title>Soran-Face</title>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            fetch('/check-session', {
                method: 'GET',
                credentials: 'same-origin'
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Session check failed');
                    }
                    return response.json();
                })
                .then(data => {
                    if (!data.authenticated) {
                        window.location.href = '/';
                    }
                })
                .catch(error => {
                    console.error('Error checking session:', error);
                });
        });
    </script>
</head>

<body>
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="{{ url_for('static', filename='imag/soran.png') }}" alt="">
                </span>
                <div class="text logo-text">
                    <span class="name">Soran_Face</span>
                    <span class="profession" id="user-name">Management</span>
                </div>
            </div>
            <i class='bx bx-chevron-right toggle'></i>
        </header>
        <div class="menu-bar">
            <div class="menu">
                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="{{ url_for('main.home') }}" data-page="home" class="act">
                            <i class='bx bx-home-alt icon'></i>
                            <span class="text nav-text">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="{{ url_for('main.staff') }}" data-page="staff">
                            <i class='bx bx-user-check icon'></i>
                            <span class="text nav-text">Staff</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="{{ url_for('main.conferences') }}" data-page="conferences">
                            <i class='bx bx-chalkboard icon'></i>
                            <span class="text nav-text">Conferences</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="{{ url_for('main.r_conferences') }}" data-page="r-conferences">
                            <i class='bx bx-registered icon'></i>
                            <span class="text nav-text">R-Conferences</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="{{ url_for('main.test_camera') }}" data-page="test-camera">
                            <i class='bx bx-video-recording icon'></i>
                            <span class="text nav-text">Test Camera</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="{{ url_for('main.users') }}" data-page="users">
                            <i class='bx bx-user icon'></i>
                            <span class="text nav-text">Users</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="{{ url_for('main.model_train') }}" data-page="model-train">
                            <i class='bx bx-cube-alt icon'></i>
                            <span class="text nav-text">Model Train</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="bottom-content">
                <li>
                    <a href="#" id="logoutBtn">
                        <i class='bx bx-log-out icon'></i>
                        <span class="text nav-text">Logout</span>
                    </a>
                </li>
                <li class="mode">
                    <div class="sun-moon">
                        <i class='bx bx-moon icon moon'></i>
                        <i class='bx bx-sun icon sun'></i>
                    </div>
                    <span class="mode-text text">Dark mode</span>
                    <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>
                </li>
            </div>
        </div>
    </nav>
    <section class="home">
        <div id="content"></div>
    </section>
    {% include 'dialog.html' %}
    <script src="../static/js/conferences_script.js"></script>
    <script src="{{ url_for('static', filename='js/dialog.js') }}"></script>
</body>

</html>