<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact_Us</title>
  <!-- Google Fonts Link For Icons -->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/contact_us_style.css') }}">
  <script src="{{ url_for('static', filename='js/index_script.js') }}" defer></script>
  <style>
    .error-message {
      color: red;
      font-family: "Open Sans", sans-serif;
    }
  </style>
</head>

<body>
  <header>
    <nav class="navbar">
      <span class="hamburger-btn material-symbols-rounded">menu</span>
      <a href="{{ url_for('main.index') }}" class="logo">
        <img src="{{ url_for('static', filename='imag/Soran_Logo.png') }}" alt="logo">
        <h2>Soran_Face</h2>
      </a>
      <ul class="links">
        <span class="close-btn material-symbols-rounded">close</span>
        <li><a href="{{ url_for('main.index') }}">Home</a></li>
        <li><a href="{{ url_for('main.about_us') }}">About us</a></li>
        <li><a href="{{ url_for('main.contact_us') }}">Contact us</a></li>
      </ul>
      <button class="login-btn">LOG IN</button>
    </nav>
  </header>

  <div class="blur-bg-overlay"></div>
  <div class="form-popup">
    <span class="close-btn material-symbols-rounded">close</span>
    <div class="form-box login">
      <div class="form-details">
        <video autoplay muted loop class="background-video">
          <source src="{{ url_for('static', filename='imag/animation.mp4') }}" type="video/mp4">
        </video>
        <h2>Welcome Back</h2>
      </div>
      <div class="form-content">
        <h2>LOGIN</h2>
        <form id="loginForm" action="{{ url_for('main.login') }}" method="POST">
          <div class="input-field">
            <input type="text" name="username" required>
            <label>Username</label>
          </div>
          <div class="input-field">
            <input type="password" name="password" required>
            <label>Password</label>
          </div>
          <a href="{{ url_for('main.contact_us') }}" class="forgot-pass-link">Forgot password?</a>
          <button type="submit">Log In</button>
          <p id="errorMessage" class="error-message">{{ error_message }}</p>
        </form>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="content">
      <div class="left-side">
        <div class="address details">
          <i class="fas fa-map-marker-alt"></i>
          <div class="topic">Address</div>
          <div class="text-one">Iraq, Soran</div>
          <div class="text-two">Delzyan 06</div>
        </div>
        <div class="phone details">
          <i class="fas fa-phone-alt"></i>
          <div class="topic">Phone</div>
          <div class="text-one">+964 783 269 9909</div>
          <div class="text-two">+964 750 828 5828</div>
        </div>
        <div class="email details">
          <i class="fas fa-envelope"></i>
          <div class="topic">Email</div>
          <div class="text-one">ahmadtofeq192@gmail.com</div>
          <div class="text-two">mr5121@cs.soran.edu.iq</div>
        </div>
      </div>
      <div class="right-side">
        <div class="topic-text">Send us a message</div>
        <p>If you need help or any feedback or issue be free to tell us</p>
        <form action="#">
          <div class="input-box">
            <input type="text" placeholder="Enter your name" />
          </div>
          <div class="input-box">
            <input type="text" placeholder="Enter your email" />
          </div>
          <div class="input-box message-box">
            <textarea placeholder="Enter your message"></textarea>
          </div>
          <div class="button">
            <input type="button" value="Send Now" />
          </div>
        </form>
      </div>
    </div>
  </div>
  <footer class="footer">
    © 2023. All Rights Reserved. <a href="mailto:Soran_Face@idq">Soran_Face@idq</a>
  </footer>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const loginForm = document.getElementById('loginForm');
      const errorMessage = document.getElementById('errorMessage');

      loginForm.addEventListener('submit', function (event) {
        event.preventDefault(); // Prevent the form from submitting

        const formData = new FormData(loginForm);

        fetch("{{ url_for('main.login')}}", {
          method: 'POST',
          body: formData,
        })
          .then(response => response.json())
          .then(data => {
            if (data.success) {
              window.location.href = "{{ url_for('main.home') }}"; // Redirect to home page
            } else {
              errorMessage.textContent = data.message; // Display error message
            }
          })
          .catch(error => {
            console.error('Error:', error);
            errorMessage.textContent = 'An error occurred. Please try again.'; // Display generic error message
          });
      });
    });
  </script>
</body>

</html>