<!-- dialog.html -->
<div id="deleteUserDialog" class="dialog hide">
    <div class="icon">&#10007;</div>
    <div class="message">Are you sure?</div>
    <div class="message">You will not be able to recover this User!</div>
    <button class="cancel">Cancel</button>
    <button class="delete">Delete!</button>
</div>
<div id="logoutDialog" class="dialog hide">
    <div class="icon">&#33;</div>
    <div class="message">Are you sure?</div>
    <div class="message">You will not be able to log in without username and password</div>
    <button class="cancel">Cancel</button>
    <button class="delete">Log-Out!</button>
</div>
<div id="deleteStaffDialog" class="dialog">
    <div class="dialog-content">
        <h2>Confirm Deletion</h2>
        <p>Are you sure you want to deactivate this staff member?</p>
        <button class="cancel">Cancel</button>
        <button class="delete">Deactivate</button>
    </div>
</div>