<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/presentation_style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dialog.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-beta.1/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <title>Soran-Face</title>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            fetch('/check-session', {
                method: 'GET',
                credentials: 'same-origin'
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Session check failed');
                    }
                    return response.json();
                })
                .then(data => {
                    if (!data.authenticated) {
                        window.location.href = '/';
                    }
                })
                .catch(error => {
                    console.error('Error checking session:', error);
                });
        });
    </script>
</head>

<body>
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="{{ url_for('static', filename='imag/soran.png') }}" alt="">
                </span>
                <div class="text logo-text">
                    <span class="name">Soran_Face</span>
                    <span class="profession" id="user-name">Management</span>
                </div>
            </div>
            <i class='bx bx-chevron-right toggle'></i>
        </header>
        <div class="menu-bar">
            <div class="menu">
                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="{{ url_for('main.home') }}" data-page="home" class="act">
                            <i class='bx bx-home-alt icon'></i>
                            <span class="text nav-text">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="{{ url_for('main.staff') }}" data-page="staff">
                            <i class='bx bx-user-check icon'></i>
                            <span class="text nav-text">Staff</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="{{ url_for('main.conferences') }}" data-page="conferences">
                            <i class='bx bx-chalkboard icon'></i>
                            <span class="text nav-text">Conferences</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="{{ url_for('main.presentation') }}" data-page="r-conferences">
                            <i class='bx bx-registered icon'></i>
                            <span class="text nav-text">R-Conferences</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="{{ url_for('main.test_camera') }}" data-page="test-camera">
                            <i class='bx bx-video-recording icon'></i>
                            <span class="text nav-text">Test Camera</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="{{ url_for('main.users') }}" data-page="users">
                            <i class='bx bx-user icon'></i>
                            <span class="text nav-text">Users</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="{{ url_for('main.model_train') }}" data-page="model-train">
                            <i class='bx bx-cube-alt icon'></i>
                            <span class="text nav-text">Model Train</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="bottom-content">
                <li>
                    <a href="#" id="logoutBtn">
                        <i class='bx bx-log-out icon'></i>
                        <span class="text nav-text">Logout</span>
                    </a>
                </li>
                <li class="mode">
                    <div class="sun-moon">
                        <i class='bx bx-moon icon moon'></i>
                        <i class='bx bx-sun icon sun'></i>
                    </div>
                    <span class="mode-text text">Dark mode</span>
                    <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>
                </li>
            </div>
        </div>
    </nav>
    <section class="home">
        <div class="page-content">
            <h2>Conference Registration</h2>
            <p>Manage conference registrations below.</p>
    
            {% if message %}
            <div class="popup {{ message_type }}">
                <p class="below">{{ message }}</p>
            </div>
            {% endif %}
    
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Date & Time</th>
                        <th>Duration</th>
                        <th>Hall</th>
                        <th>Presenter Points</th>
                        <th>Attendance Points</th>
                        <th>Max Late Time</th>
                        <th>Presenter</th>
                        <th>Added by</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for presentation in presentations %}
                    <tr>
                        <td>{{ presentation.id_presentation }}</td>
                        <td>{{ presentation.title_pres }}</td>
                        <td>{{ presentation.date_time }}</td>
                        <td>{{ presentation.duration }}</td>
                        <td>{{ presentation.hall }}</td>
                        <td>{{ presentation.point_presenter }}</td>
                        <td>{{ presentation.point_attendance }}</td>
                        <td>{{ presentation.max_late }}</td>
                        <td>
                            <div class="form-group">
                                <select id="presenter" name="presenter[]" multiple required class="select2">
                                    {% for staff in staff_members %}
                                    <option value="{{ staff.id_staff }}" {% if staff.id_staff in presentation.presenters
                                        %}selected{% endif %}>
                                        {{ staff.staff_name }}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </td>
                        <td>{{ presentation.added_by.name}}</td>
                        <td>
                            <button class="update-btn" data-id="{{ presentation.id_presentation }}">Update</button>
                            <div class="register-form hide" data-id="{{ presentation.id_presentation }}">
                                <form action="{{ url_for('main.update_presentation') }}" method="post" class="conference-form">
                                    <input type="hidden" name="id_presentation" value="{{ presentation.id_presentation }}">
            
                                    <div class="form-group">
                                        <label for="title_pres">Title:</label>
                                        <input type="text" id="title_pres" name="title_pres" value="{{ presentation.title_pres }}"
                                            required>
                                    </div>
            
                                    <div class="form-group">
                                        <label for="date_time">Date & Time:</label>
                                        <input type="datetime-local" id="date_time" name="date_time"
                                            value="{{ presentation.date_time }}" required>
                                    </div>
            
                                    <div class="form-group">
                                        <label for="duration">Duration:</label>
                                        <input type="number" id="duration" name="duration" value="{{ presentation.duration }}"
                                            required>
                                    </div>
            
                                    <div class="form-group">
                                        <label for="hall">Hall:</label>
                                        <input type="text" id="hall" name="hall" value="{{ presentation.hall }}" required>
                                    </div>
            
                                    <div class="form-group">
                                        <label for="point_presenter">Point Presenter:</label>
                                        <input type="number" id="point_presenter" name="point_presenter"
                                            value="{{ presentation.point_presenter }}" required>
                                    </div>
            
                                    <div class="form-group">
                                        <label for="point_attendance">Point Attendance:</label>
                                        <input type="number" id="point_attendance" name="point_attendance"
                                            value="{{ presentation.point_attendance }}" required>
                                    </div>
            
                                    <div class="form-group">
                                        <label for="max_late">Max Late:</label>
                                        <input type="number" id="max_late" name="max_late" value="{{ presentation.max_late }}"
                                            required>
                                    </div>
            
                                    <div class="form-group">
                                        <label for="presenter">Presenter:</label>
                                        <select id="presenter" name="presenter[]" multiple required class="select2">
                                            {% for staff in staff_members %}
                                            <option value="{{ staff.id_staff }}" {% if staff.id_staff in presentation.presenters
                                                %}selected{% endif %}>
                                                {{ staff.staff_name }}
                                            </option>
                                            {% endfor %}
                                        </select>
                                    </div>
            
                                    <button type="submit" name="update" class="submit-btn">Update</button>
                                </form>
                            </div>
            
                            <form action="{{ url_for('main.delete_presentation') }}" method="post">
                                <input type="hidden" name="id_presentation" value="{{ presentation.id_presentation }}">
                                <button type="submit" name="delete" class="btn-delete">Delete</button>
                            </form>
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="11">No presentations found.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    
            <!-- Register presentation  form -->
            <div class="register-container">
                <button class="register-btn">
                    <i class='bx bx-plus'></i>
                </button>
                <div class="register-form hide">
                    <form id="register-conference-form" action="{{ url_for('main.register_presentation') }}" method="post">
                        <div class="form-group">
                            <label for="title_pres">Title:</label>
                            <input type="text" id="title_pres" name="title_pres" required>
                        </div>
                        <div class="form-group">
                            <label for="date_time">Date & Time:</label>
                            <input type="datetime-local" id="date_time" name="date_time" required>
                        </div>
                        <div class="form-group">
                            <label for="duration">Duration:</label>
                            <input type="number" id="duration" name="duration" required>
                        </div>
                        <div class="form-group">
                            <label for="hall">Hall:</label>
                            <input type="text" id="hall" name="hall" required>
                        </div>
                        <div class="form-group">
                            <label for="point_presenter">Point Presenter:</label>
                            <input type="number" id="point_presenter" name="point_presenter" required>
                        </div>
                        <div class="form-group">
                            <label for="point_attendance">Point Attendance:</label>
                            <input type="number" id="point_attendance" name="point_attendance" required>
                        </div>
                        <div class="form-group">
                            <label for="max_late">Max Late:</label>
                            <input type="number" id="max_late" name="max_late" required>
                        </div>
                        <div class="form-group">
                            <label for="faculty">Faculty:</label>
                            <select id="faculty" name="faculty" required>
                                <option value="" disabled selected>Select Faculty</option>
                                {% for faculty in faculties %}
                                <option value="{{ faculty.id_faculty }}">{{ faculty.name_faculty }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="department">Department:</label>
                            <select id="department" name="department" required>
                                <option value="" disabled selected>Select Department</option>
                                {% for department in departments %}
                                <option value="{{ department.id_department }}" data-faculty="{{ department.id_faculty }}">
                                    {{ department.name_department }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="presenter">Presenter:</label>
                            <select id="presenter" name="presenter[]" multiple required class="select2">
                                {% for staff in staff_members %}
                                <option value="{{ staff.id_staff }}">{{ staff.staff_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <input type="submit" value="Register" class="submit-btn">
                    </form>
                </div>
            </div>
    </section>
    {% include 'dialog.html' %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-beta.1/js/select2.min.js"></script>
    <script src="{{ url_for('static', filename='js/presentation_script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dialog.js') }}"></script>
</body>

</html>